.mySkill {
  margin-top: 70px;

  .skillItem {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 8px rgb(189, 189, 189);
    position: relative;
    width: 49%;

    h3 {
      color: #fff;
      background-color: salmon;
      line-height: 3rem;
      padding: 1rem;
      font-size: 1.8rem;
      letter-spacing: 1rem;
      text-indent: 1rem;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 1px 1px 5px rgb(189, 189, 189);
    }

    .skill {
      margin: 35px 20px;
      letter-spacing: 0.1rem;
      line-height: 30px;
    }
  }
}