

.header {
    width: 15%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    margin: 0vh;
    @media #{$breakpoint-xl}{
        width: 100%;
        height: 10%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        margin: auto;
        z-index: 6;
    }
}

.nav_menulist {
    display: flex;
    flex-direction: column;
    margin: 150px 50px;
    @media #{$breakpoint-xl} {
        width: 100%;
        position: fixed;
        margin: auto;
    }
    .nav {
        border-left: 1px solid #000;
        list-style-type: none;
        margin: 0;
        @media #{$breakpoint-xl}{
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            justify-content: center;
            border:none;
        }
        li {
            color: #000;
            a {
                font-family: "Josefin Sans", sans-serif;
                font-weight: 400;
                text-decoration: none;
                line-height: 5rem;
                font-size: 1.5rem;
                margin-left: 2rem;
                &:link {
                    color: #000;
                }
                &:visited {
                    color: #000;
                }
                &.aboutme {
                    &::after{
                        content: "About";
                        color: #000;
                    }
                    &:hover::after {
                        content: "關於我";
                        font-size: 1.5rem;
                        color: $primary;
                    }
                }
                &.jessskill {
                    &::after {
                        content: "Skill";
                        color: #000;
                    }
                    &:hover::after {
                        content: "技能";
                        font-size: 1.5rem;
                        color: $primary;
                    }
                }
            
                &.jessexp {
                    &::after {
                        content: "Experience";
                        color: #000;
                    }
                    &:hover::after {
                        content: "工作經歷";
                        font-size: 1.5rem;
                        color: $primary;
                    }
                }
            
                &.Portfilio {
                    &::after {
                        content: "Portfilio";
                        color: #000;
                    }
                    &:hover::after {
                        content: "作品集";
                        font-size: 1.5rem;
                        color: $primary;
                    }
                }
            }
        
        }
    }
}