$text:rgb(68, 68, 68);
$contentText:rgb(109, 109, 109);
$title:rgb(39, 39, 39);

$primary:rgb(252, 159, 150);

$color: (
    primary: #f38063,
    secondary:#f7c231,
    hover:#e05f2c,
    bg-body:#d8e4f0,
    white:#ffffff,
    text:#5a5a5a
);

