@import "../../../../assets/all.scss";



.aboutMe {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 8px rgb(189, 189, 189);
  padding: 70px;

  .about {
    p {
      font-size: 15px;
      line-height: 40px;
      color: $contentText;
    }
  }

  .content {
    table {
      border-collapse: collapse;
      width: 100%;
      td {
        font-size: 14px;
        line-height: 3rem;
        color: $contentText;

        &.tdTitle {
          letter-spacing: 0.8rem;
          color: $title
        }

        a {
          color: $contentText;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}