.tab {
    // padding: 10px 20px;
    // margin: 0px 2px;
    // display: inline-block;
    // color: rgb(109, 109, 109);
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    margin-right: 2rem;
    color: rgb(66, 66, 66);
    &.active{
        color: #000;
        border-top: 3px solid salmon;
        color: salmon;
    }
}


.waterfall {
    width: 100%;
    margin: 0 auto;
    column-count: 4;
    column-gap: 30px;
    background: #fff;
    min-height: 200px;
    .item {
        /* width:50%; */
        break-inside: avoid;
        // width: 25%;
        margin-bottom: 10px;
        padding: 10px;
        img {
                object-fit: cover;
                display: block;
                max-width: 100%;
            }
    }
}
.grid-sizer,
.grid-item {
    width: 20%;
}
.page-load-status {
    display: none;
    /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}